.header {
  padding-top: 45px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
  }

  &__logo {
    font-size: 37px;
    font-weight: 800;
    text-align: left;
    color: white;
    display: flex;
    align-items: center;
    img {
      margin-top: -5px;
      margin-right: 17px;
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    li {
      &:first-child {
        &::after {
          content: url(../img/header/arrow_down.svg);
          cursor: pointer;
        }
      }
    }
    li {
      margin-left: 40px;
      list-style: none;
      position: relative;

      &:hover .header__submenu {
        transform: scaleY(1);
        transform-origin: 0 0;
        transition: transform 0.5s;
      }

      a {
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: $grey;
        transition: all 0.4s;
        text-decoration: none;
        &:hover {
          color: $accent;
          transition: all 0.4s;
        }

        .active {
          color: $accent;
        }
      }
    }
  }
  &__submenu {
    position: absolute;
    top: 25px;
    left: 0px;
    background: transparent;
    width: 100%;
    transition: transform 0.3s;
    margin: 0;
    padding: 0;
    text-align: center;
    transform: scaleY(0);
    transform-origin: 0 0;
    li {
      margin: 0;
      border-bottom: 1px solid $grey;
      &::after {
        display: none;
      }
      a {
        color: $grey;
        &:hover {
          color: white;
        }
      }
    }
  }

  &__login {
    color: $grey;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.4s;
    font-weight: 500;
    &:hover {
      transition: color 0.4s;
      color: $accent;
    }
  }

  &__button {
    margin-left: 24px;
  }
}
