@import "vars";
@import "fonts";
@import "header";
@import "buttons";
@import "start";
@import "why";
@import "one";
@import "block";
@import "two";
@import "small-changes";
@import "footer";
@import "pricing";
@import "mission";
@import "team";
@import "source";
@import "forms";
@import "sign";

body {
  background-color: #000000;
}

* {
  font-family: "Poppins";
}

.active {
  a {
    color: $accent;
  }
}

.off_scroll {
  overflow-y: hidden;
}

@import "../media/adaptive";
